# Arquivos de Build do PlatformIO
.pio/
.pioenvs/
.piolibdeps/
*.bin
*.elf
*.hex

# Arquivos de IDE e LSP (Ccls, clangd para Neovim)
.vscode/
.idea/
.cache/
compile_commands.json
.clangd/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db

# Formatação e Boas Práticas
.clang-tidy

# Para trabalhar com IAs
repomix-output.xml

# O platformio puxa as bibliotecas de locais diferentes no windows e no linux. Isso serve pra resolver essa questão
C:/pio/
C:/Users/*/AppData/Local/Programs/platformio/